@{
    ViewBag.Title = "Post a Comment";
}

@section scripts {
    <script src="//tinymce.cachefly.net/4.1/tinymce.min.js"></script>
    <script>tinymce.init({ selector: 'textarea' });</script>
}

<div class="row">
    <div class="col-md-12">
        <h2>Post a Comment</h2>
        @if (@Model.type == 0)
        {
            <div id="divQJumbo" class="jumbotron row">
                <div id="divVotes" class="col-md-1">
                    <div id="divVoteCount">
                        @* Voting Data Goes Here *@
                        @Model.aQuestion.aQuestion.Score
                    </div>
                </div>
                <div id="divQuestion" class="col-md-8">
                    <div class="divCategory">
                        @Model.aQuestion.CategoryString
                    </div>
                    @Html.Raw(@Model.aQuestion.aQuestion.Question)
                </div>
                <div id="divAuthorDetails" class="col-md-3">
                    <div id="divGenericPerson">
                        <img src="~/Images/GenericPerson.png" height="70" width="50" alt="Generic Person Photo" />
                    </div>
                    <div id="divAuthor">@Model.aQuestion.UserName (<span class="red">@Model.aQuestion.aQuestion.UserTBL.Reputation</span>)</div>
                    <div id="divTime">@Model.aQuestion.aQuestion.QuestionDTS</div>
                </div>
                <div class="clearfix"></div>
                <div id="divButtonChoices">
                    <div class="text-left float-left">
                        <a class="btn btn-default btn-sm" href="@Url.Content("~/Home/ViewQuestion/" + @Model.aQuestion.aQuestion.QuestionID)">
                            Back
                        </a>
                    </div>
                    <a class="btn btn-default btn-sm" href="@Url.Content("~/Home/Answer/" + @Model.aQuestion.aQuestion.QuestionID)">
                        Answer
                    </a>
                    <a class="btn btn-default btn-sm" href="@Url.Content("~/Home/Comment/" + @Model.aQuestion.aQuestion.QuestionID)">
                        Comment
                    </a>
                </div>
            </div>

            <form method="post" action="/Home/ViewQuestion">
                <p>
                    <textarea id="txtAnswer" name="txtAnswer"></textarea>
                    <div class="text-right">
                        <button type="submit" name="btnSubmit" id="btnSubmit" value="Submit"
                                title="Submit" class="btn btn-default" style="margin-top: 20px;">
                            Submit
                        </button>

                        <a class="btn btn-default" href="@Url.Content("~/Home/ViewQuestion/" + @Model.aQuestion.aQuestion.QuestionID)" style="margin-top: 20px;">
                            Cancel
                        </a>
                    </div>
                    <input type="text" class="hidden" value="@Model.aQuestion.aQuestion.QuestionID" id="QuestionID" name="QuestionID" />
                    <input type="text" class="hidden" value="QComment" id="type" name="type" />
                </p>
            </form>
        }
        else
        {
            <div id="divQJumbo" class="jumbotron row">
                <div id="divVotes" class="col-md-1">
                    <div id="divVoteCount">
                        @* Voting Data Goes Here *@
                        @Model.anAnswer.anAnswer.Score
                    </div>
                </div>
                <div id="divQuestion" class="col-md-8">
                    @Html.Raw(Model.anAnswer.anAnswer.Answer)
                </div>
                <div id="divAuthorDetails" class="col-md-3">
                    <div id="divGenericPerson">
                        <img src="~/Images/GenericPerson.png" height="70" width="50" alt="Generic Person Photo" />
                    </div>
                    <div id="divAuthor">@Model.anAnswer.AUserName (<span class="red">@Model.anAnswer.anAnswer.UserTBL.Reputation</span>)</div>
                    <div id="divTime">@Model.anAnswer.anAnswer.AnswerDTS</div>
                </div>
                <div class="clearfix"></div>
                <div id="divButtonChoices">
                    <div class="text-left float-left">
                        <a class="btn btn-default btn-sm" href="@Url.Content("~/Home/ViewQuestion/" + @Model.anAnswer.anAnswer.QuestionID)">
                            Back
                        </a>
                    </div>
                    <a class="btn btn-default btn-sm" href="@Url.Content("~/Home/Comment?answer_id=" + @Model.anAnswer.anAnswer.AnswerID)">
                        Comment
                    </a>
                </div>
            </div>

    <form method="post" action="/Home/ViewQuestion">
        <p>
            <textarea id="txtAnswer" name="txtAnswer"></textarea>
            <div class="text-right">
                <button type="submit" name="btnSubmit" id="btnSubmit" value="Submit"
                        title="Submit" class="btn btn-default" style="margin-top: 20px;">
                    Submit
                </button>

                <a class="btn btn-default" href="@Url.Content("~/Home/ViewQuestion/" + @Model.anAnswer.anAnswer.QuestionID)" style="margin-top: 20px;">
                    Cancel
                </a>
            </div>
            <input type="text" class="hidden" value="@Model.anAnswer.anAnswer.AnswerID" id="AnswerID" name="AnswerID" />
            <input type="text" class="hidden" value="AComment" id="type" name="type" />
        </p>
    </form>
        }


    </div>
</div>