@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Question List";
}

<div class="row">
    <div class="col-md-12">
        <h2 id="hdrQuestionList" class="col-lg-6">All Questions</h2>

        <select id="ddlSort" >
            <option value=0 >Select a Sort</option>
            <option value=1 >Category: A - Z</option>
            <option value=2 >Category: Z - A</option>
            <option value=3 >Votes: High - Low</option>
            <option value=4 >Votes: Low - High</option>
            <option value=5 >Unanswered Questions</option>
        </select>

        <div class="clearfix"></div>
        @for (int i = 0; i < Model.ShowQuestion.Count; i++)
        { 
            <div class="Start">
                <div class="row">
                    <div class="Question col-sm-12">
                        <a href="~/Home/ViewQuestion?question_id=@Model.ShowQuestion[i].aQuestion.QuestionID&referrer=Recent">@Model.ShowQuestion[i].aQuestion.Question</a>
                    </div>
                </div>
                <div class="row">
                    <div class="Votes col-sm-3">
                        @Model.ShowQuestion[i].aQuestion.Score Votes
                    </div>
                    <div class="Category col-sm-4">
                        @Model.ShowQuestion[i].CategoryString
                    </div>
                    <div class="Author col-sm-5">
                        <span class="display-inline-block">
                            <img src="~/Images/GenericPerson.png" width="25" />
                        </span>
                        <span class="display-inline-block">
                            @Model.ShowQuestion[i].UserName <br />
                            @Model.ShowQuestion[i].aQuestion.QuestionDTS
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>