@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Question List";
}

<div class="row">
    <div class="col-md-12">
        <h2 id="hdrQuestionList" class="col-lg-6">All Questions</h2>

        @*TODO: get this DDL working*@
        <select id="ddlSort" onchange="javascript: Sort();">
            <option value="0">Select a Sort</option>
            <option value="1" @(Request["ddlSortBy"] == "1" ? "selected" : "")>Category: A - Z</option>
            <option value="2" @(Request["ddlSortBy"] == "2" ? "selected" : "")>Category: Z - A</option>
            <option value="3" @(Request["ddlSortBy"] == "3" ? "selected" : "")>Votes: High - Low</option>
            <option value="4" @(Request["ddlSortBy"] == "4" ? "selected" : "")>Votes: Low - High</option>
            <option value="5" @(Request["ddlSortBy"] == "5" ? "selected" : "")>Unanswered Questions</option>
            <option value="6" @(Request["ddlSortBy"] == "6" ? "selected" : "")>Answered Questions</option>
        </select>

        <div class="clearfix"></div>
        @for (int i = 0; i < Model.ShowQuestion.Count; i++)
        {
            <div class="Start">
                <div class="row">
                    <div class="Question col-sm-12">
                        <a href="~/Home/ViewQuestion?question_id=@Model.ShowQuestion[i].aQuestion.QuestionID&referrer=Recent">
                            @System.Text.RegularExpressions.Regex.Replace((String)Model.ShowQuestion[i].aQuestion.Question, "<[^>]*(>|$)", "")
                        </a>
                    </div>
                </div>
                <div class="row">

                    @*TODO: Add a part in here to show if question has an accepted answer*@
                    <div class="Votes col-sm-3">
                        @Model.ShowQuestion[i].aQuestion.Score Votes
                    </div>
                    <div class="Category col-sm-4">
                        @Model.ShowQuestion[i].CategoryString
                    </div>
                    <div class="Author col-sm-5">
                        <span class="display-inline-block">
                            <img src="~/Images/GenericPerson.png" width="25" />
                        </span>
                        <span class="display-inline-block">
                            @Model.ShowQuestion[i].UserName (<span class="red">@Model.ShowQuestion[i].aQuestion.UserTBL.Reputation</span>)<br />
                            @Model.ShowQuestion[i].aQuestion.QuestionDTS
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>

<script type="text/javascript">
    function Sort() {
        window.location.replace("@Url.Content("~/Home/QuestionList")?ddlSortBy=" + ddlSort.selectedIndex);
    }
</script>