@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    ViewBag.Title = "Question List";
}

<div class="row">
    <div class="col-md-12">
        <h2 id="hdrQuestionList" class="col-lg-6">All Questions</h2>

        <select id="ddlSort" >
            <option value="default">Select a Sort</option>
            <option value="CategoryASC">Category: A - Z</option>
            <option value="CategoryDESC">Category: Z - A</option>
            <option value="VotesDESC">Votes: High - Low</option>
            <option value="VotesASC">Votes: Low - High</option>
            <option value="Unanswered">Unanswered Questions</option>
        </select>

        <div class="clearfix"></div>
        @for (int i = 0; i < 5; i++)
        { 
            <div class="Start">
                <div class="row">
                    <div class="Question col-sm-12">
                        <a href="~/Home/ViewQuestion?question_id=@Model.Question[i][0]&referrer=Recent">@Model.Question[i][1]</a>
                    </div>
                </div>
                <div class="row">
                    <div class="Votes col-sm-3">
                        @Model.Question[i][2] Votes
                    </div>
                    <div class="Category col-sm-4">
                        @Model.Question[i][3]
                    </div>
                    <div class="Author col-sm-5">
                        <span class="display-inline-block">
                            <img src="~/Images/GenericPerson.png" width="25" />
                        </span>
                        <span class="display-inline-block">
                            @Model.Question[i][4] <br />
                            @Model.Question[i][5]
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>