@{
    //This could preview the search terms?
    ViewBag.Title = "Search";
}

<div class="row">
    <div class="col-md-12">
        <h2 id="hdrSearchResults" class="col-lg-6">Search Results - @Model.ResultCount Results</h2>

        <div class="clearfix"></div>
        @for (int i = 0; i < Model.ShowQuestion.Count; i++)
        {
            <div class="Start">
                <div class="row">
                    <div class="Question col-sm-12">
                        <a href="~/Home/ViewQuestion?question_id=@Model.ShowQuestion[i].aQuestion.QuestionID&referrer=Recent">
                            @System.Text.RegularExpressions.Regex.Replace((String)Model.ShowQuestion[i].aQuestion.Question, "<[^>]*(>|$)", "")
                        </a>
                    </div>
                </div>
                <div class="row">

                    @*TODO: Add a part in here to show if question has an accepted answer*@
                    <div class="Votes col-sm-3">
                        @Model.ShowQuestion[i].aQuestion.Score Votes
                    </div>
                    <div class="Category col-sm-4">
                        @Model.ShowQuestion[i].CategoryString
                    </div>
                    <div class="Author col-sm-5">
                        <span class="display-inline-block">
                            <img src="~/Images/GenericPerson.png" width="25" />
                        </span>
                        <span class="display-inline-block">
                            @Model.ShowQuestion[i].UserName (<span class="red">@Model.ShowQuestion[i].aQuestion.UserTBL.Reputation</span>)<br />
                            @Model.ShowQuestion[i].aQuestion.QuestionDTS
                        </span>
                    </div>
                </div>
            </div>
        }
    </div>
</div>