@{
    Layout = "~/Views/Shared/_Layout.cshtml";

    String Title = System.Text.RegularExpressions.Regex.Replace((String)Model.MainQuestion.Question,
        "<[^>]*(>|$)", "");

    ViewBag.Title = Title.Substring(0, Title.Length >= 20 ? 20 : Title.Length);
}

<div class="row">
    <div class="col-md-12">
        <h2>Viewing a Question.</h2>

        <div id="divQJumbo" class="jumbotron row">
            <div id="divVotes" class="col-md-1">
                @if (@Model.MainQuestion.UserID != @Model.CurrentUserID)
                {
                    <a href="@Url.Content("~/Home/ViewQuestion?question_id=" + @Model.MainQuestion.QuestionID + "&vote=1")">
                        <img src="~/Images/VoteUp.png" width="50" alt="Voting Up Glyphs" />
                    </a>
                }
                <div id="divVoteCount">
                    @Model.MainQuestion.Score
                </div>
                @if (@Model.MainQuestion.UserID != @Model.CurrentUserID)
                {
                    <a href="@Url.Content("~/Home/ViewQuestion?question_id=" + @Model.MainQuestion.QuestionID + "&vote=2")">
                        <img src="~/Images/VoteDown.png" width="50" alt="Voting Down Glyphs" />
                    </a>
                }
            </div>
            <div id="divQuestion" class="col-md-9">
                <div class="divCategory">
                    @Model.QuestionCategory
                </div>
                @Html.Raw(Model.MainQuestion.Question)
            </div>
            <div id="divAuthorDetails" class="col-md-2">
                <div id="divGenericPerson">
                    <img src="~/Images/GenericPerson.png" height="70" width="50" alt="Generic Person Photo" />
                </div>
                <div id="divAuthor">@Model.QuestionUserName</div>
                <div id="divTime">@Model.MainQuestion.QuestionDTS</div>
            </div>
            <div class="clearfix"></div>
            <div id="divButtonChoices">
                <a class="btn btn-default btn-sm" href="@Url.Content("~/Home/Answer/" + @Model.MainQuestion.QuestionID)">
                    Answer
                </a>
                <a class="btn btn-default btn-sm" href="@Url.Content("~/Home/Comment?question_id=" + @Model.MainQuestion.QuestionID)">
                    Comment
                </a>
            </div>
        </div>

        @if (Model.RelatedQuestionComments != null)
        {
            for (int i = 0; i < Model.RelatedQuestionComments.Count; i++)
            {
                <div class="divCJumbo jumbotron row">
                    <div class="divComment col-md-10">
                        @Html.Raw(Model.RelatedQuestionComments[i].QComment.QComment)
                    </div>
                    <div class="divAuthorDetails col-md-2">
                        <div class="divGenericPerson">
                            <img src="~/Images/GenericPerson.png" height="70" width="50" alt="Generic Person Photo" />
                        </div>
                        <div class="divAuthor">@Model.RelatedQuestionComments[i].QCUserName</div>
                        <div class="divTime">@Model.RelatedQuestionComments[i].QComment.QCommentDTS</div>
                    </div>
                    <div class="clearfix"></div>
                </div>
            }
        }

        @if (Model.RelatedAnswers != null)
        {
            for (int i = 0; i < Model.RelatedAnswers.Count; i++)
            {
                <div class="divAJumbo jumbotron row">
                    <div class="divVotes col-md-1">
                        @if (@Model.RelatedAnswers[i].MainAnswer.UserID != @Model.CurrentUserID)
                        {
                            <a href="../Home/ViewQuestion?question_id=@Model.MainQuestion.QuestionID&answer_id=@Model.RelatedAnswers[i].MainAnswer.AnswerID&vote=3">
                                <img src="~/Images/VoteUp.png" width="50" alt="Voting Up Glyphs" />
                            </a>
                        }
                        <div class="divVoteCount">
                            @* Voting Data Goes Here *@
                            @Model.RelatedAnswers[i].MainAnswer.Score
                        </div>
                        @if (@Model.RelatedAnswers[i].MainAnswer.UserID != @Model.CurrentUserID)
                        {
                            <a href="../Home/ViewQuestion?question_id=@Model.MainQuestion.QuestionID&answer_id=@Model.RelatedAnswers[i].MainAnswer.AnswerID&vote=4">
                                <img src="~/Images/VoteDown.png" width="50" alt="Voting Down Glyphs" />
                            </a>
                        }
                        @if (@Model.RelatedAnswers[i].MainAnswer.Accepted == true)
                        {
                            <img src="~/Images/checkmark.png" alt="Check Mark means Answer is Accepted" width="50" />
                        }
                    </div>
                    <div class="divAnswer col-md-9">
                        @Html.Raw(Model.RelatedAnswers[i].MainAnswer.Answer)
                    </div>
                    <div class="divAuthorDetails col-md-2">
                        <div class="divGenericPerson">
                            <img src="~/Images/GenericPerson.png" height="70" width="50" alt="Generic Person Photo" />
                        </div>
                        <div class="divAuthor">@Model.RelatedAnswers[i].AnswerUserName</div>
                        <div class="divTime">@Model.RelatedAnswers[i].MainAnswer.AnswerDTS</div>
                    </div>
                    <div class="clearfix"></div>
                    <div class="divButtonChoices">
                        @* If Question Writer *@

                        @if (@Model.QuestionUserName == @Model.RelatedAnswers[i].AnswerUserName && @Model.RelatedAnswers[i].MainAnswer.Accepted == false && @Model.AcceptedAnswer == false && @Model.CurrentUserID == @Model.RelatedAnswers[i].MainAnswer.UserID)
                        {
                            <a class="btn btn-default btn-sm" href="@Url.Content("~/Home/ViewQuestion?question_id=" + @Model.RelatedAnswers[i].MainAnswer.QuestionID + "&answer_id=" + @Model.RelatedAnswers[i].MainAnswer.AnswerID)">
                                Mark As Answer
                            </a>
                        }
                        <a class="btn btn-default btn-sm" href="@Url.Content("~/Home/Comment?question_id=" + @Model.RelatedAnswers[i].MainAnswer.QuestionID + "&answer_id=" + @Model.RelatedAnswers[i].MainAnswer.AnswerID)">
                            Comment
                        </a>
                    </div>
                </div>

                if (Model.RelatedAnswers[i].RelatedAnswerComments != null)
                {
                    for (int j = 0; j < Model.RelatedAnswers[i].RelatedAnswerComments.Count; j++)
                    {
                        @*  For Each of the Answer Comments *@
                        <div class="divCAJumbo jumbotron row">
                            <div class="divComment col-md-10">
                                @Html.Raw(Model.RelatedAnswers[i].RelatedAnswerComments[j].AComment.AComment)
                            </div>
                            <div class="divAuthorDetails col-md-2">
                                <div class="divGenericPerson">
                                    <img src="~/Images/GenericPerson.png" height="70" width="50" alt="Generic Person Photo" />
                                </div>
                                <div class="divAuthor">@Model.RelatedAnswers[i].RelatedAnswerComments[j].ACUserName</div>
                                <div class="divTime">@Model.RelatedAnswers[i].RelatedAnswerComments[j].AComment.AcommentDTS</div>
                            </div>
                            <div class="clearfix"></div>
                        </div>
                    }
                }
            }
        }
    </div>
</div>
