<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TaxOverflow</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header" style="margin-top: 10px;">
                <a href="~/"><img class="img-thumbnail" width="100" src="~/Images/TaxOverflow.png" alt="TaxOverflow Logo" /></a>
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                @Html.ActionLink("TaxOverflow", "Index", "Home", new { area = "" }, new { @class = "btn btn-link", @style = "font-size: 20pt;" })
            </div>
            <div class="navbar-right">
                @Html.ActionLink("Ask Question", "PostQuestion", new { area = "" }, new { @class = "btn btn-default", @style = "margin-top: 10px;" })
                @Html.ActionLink("Questions", "ViewQuestions", new { area = "" }, new { @class = "btn btn-default", @style = "margin-top: 10px;" })
                @Html.ActionLink("Unanswered", "ViewOpenQuestions", new { area = "" }, new { @class = "btn btn-default", @style = "margin-top: 10px;" })
                <input type="text" name="taMainSearchBox" class="input-sm" style="vertical-align: bottom" />
                <button type="submit" name="btnSubmitSearch" class="btn btn-sm" style="vertical-align: bottom">Search</button>
            </div>
            <div class="navbar-collapse collapse">
                <p class="nav navbar-text navbar-right">Hello, @User.Identity.Name!</p>
            </div>
        </div>
    </div>
    <div style="clear: both;"></div>
    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TaxOverflow</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
