<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - TaxOverflow</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>
    <div class="container navbar navbar-inverse navbar-static-top" style="max-height: 500px; min-height: 150px;">
        <div class="row" style="margin-top: 10px;">
            <div class="col-md-8 navbar-header">
                <a href="~/"><img class="img-thumbnail" width="100" src="~/Images/TaxOverflow.png" alt="TaxOverflow Logo" /></a>
                @Html.ActionLink("TaxOverflow", "Index", "Home", new { area = "" }, new { @class = "btn btn-link", @style = "font-size: 20pt;" })
            </div>
            <div class="col-md-4">
                <p class="right">Hello, @User.Identity.Name!</p>
            </div>
        </div>

        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-5 center">
                @Html.ActionLink("Ask Question", "PostQuestion", new { area = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Questions", "ViewQuestions", new { area = "" }, new { @class = "btn btn-default" })
                @Html.ActionLink("Unanswered", "ViewOpenQuestions", new { area = "" }, new { @class = "btn btn-default" })
            </div>
            <div class="col-md-4 right">
                <input type="text" name="taMainSearchBox" class="input-sm" style="vertical-align: bottom" />
                <button type="submit" name="btnSubmitSearch" class="btn btn-sm" style="vertical-align: bottom">Search</button>
            </div>
        </div>
    </div>

    <div class="container body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - TaxOverflow</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>
